@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

.g-root h1 {
    font-family: var(--g-text-header-font-family);
    font-weight: 700;
}

.g-root h2,
h3,
h4,
h5,
h6 {
    font-family: var(--g-text-header-font-family) !important;
    font-weight: 600;
}
p {font-family: var(--g-text-header-font-family) !important;}
a {font-family: var(--g-text-header-font-family) !important;}
span {p {font-family: var(--g-text-header-font-family) !important;}}
.g-root {
    --g-border-radius-xs: 10px;
    --g-border-radius-s: 12px;
    --g-border-radius-m: 14px;
    --g-border-radius-l: 18px;
    --g-border-radius-xl: 22px;

    --g-font-family-sans: 'Commissioner', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Commissioner', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-brand-50: rgb(255 87 63 / 0.1);
    --g-color-private-brand-100: rgb(255 87 63 / 0.15);
    --g-color-private-brand-150: rgb(255 87 63 / 0.2);
    --g-color-private-brand-200: rgb(255 87 63 / 0.3);
    --g-color-private-brand-250: rgb(255 87 63 / 0.4);
    --g-color-private-brand-300: rgb(255 87 63 / 0.5);
    --g-color-private-brand-350: rgb(255 87 63 / 0.6);
    --g-color-private-brand-400: rgb(255 87 63 / 0.7);
    --g-color-private-brand-450: rgb(255 87 63 / 0.8);
    --g-color-private-brand-500: rgb(255 87 63 / 0.9);
    --g-color-private-brand-550-solid: rgb(255 87 63);
    --g-color-private-brand-1000-solid: rgb(67 38 38);
    --g-color-private-brand-950-solid: rgb(78 41 40);
    --g-color-private-brand-900-solid: rgb(100 46 43);
    --g-color-private-brand-850-solid: rgb(122 52 46);
    --g-color-private-brand-800-solid: rgb(145 58 49);
    --g-color-private-brand-750-solid: rgb(167 64 51);
    --g-color-private-brand-700-solid: rgb(189 70 54);
    --g-color-private-brand-650-solid: rgb(211 75 57);
    --g-color-private-brand-600-solid: rgb(233 81 60);
    --g-color-private-brand-500-solid: rgb(255 104 82);
    --g-color-private-brand-450-solid: rgb(255 121 101);
    --g-color-private-brand-400-solid: rgb(255 137 121);
    --g-color-private-brand-350-solid: rgb(255 154 140);
    --g-color-private-brand-300-solid: rgb(255 171 159);
    --g-color-private-brand-250-solid: rgb(255 188 178);
    --g-color-private-brand-200-solid: rgb(255 205 197);
    --g-color-private-brand-150-solid: rgb(255 221 217);
    --g-color-private-brand-100-solid: rgb(255 230 226);
    --g-color-private-brand-50-solid: rgb(255 238 236);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgb(255 255 255);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-brand-50: rgb(255 87 63 / 0.1);
    --g-color-private-brand-100: rgb(255 87 63 / 0.15);
    --g-color-private-brand-150: rgb(255 87 63 / 0.2);
    --g-color-private-brand-200: rgb(255 87 63 / 0.3);
    --g-color-private-brand-250: rgb(255 87 63 / 0.4);
    --g-color-private-brand-300: rgb(255 87 63 / 0.5);
    --g-color-private-brand-350: rgb(255 87 63 / 0.6);
    --g-color-private-brand-400: rgb(255 87 63 / 0.7);
    --g-color-private-brand-450: rgb(255 87 63 / 0.8);
    --g-color-private-brand-500: rgb(255 87 63 / 0.9);
    --g-color-private-brand-550-solid: rgb(255 87 63);
    --g-color-private-brand-1000-solid: rgb(255 230 226);
    --g-color-private-brand-950-solid: rgb(255 221 217);
    --g-color-private-brand-900-solid: rgb(255 205 197);
    --g-color-private-brand-850-solid: rgb(255 188 178);
    --g-color-private-brand-800-solid: rgb(255 171 159);
    --g-color-private-brand-750-solid: rgb(255 154 140);
    --g-color-private-brand-700-solid: rgb(255 137 121);
    --g-color-private-brand-650-solid: rgb(255 121 101);
    --g-color-private-brand-600-solid: rgb(255 104 82);
    --g-color-private-brand-500-solid: rgb(233 81 60);
    --g-color-private-brand-450-solid: rgb(211 75 57);
    --g-color-private-brand-400-solid: rgb(189 70 54);
    --g-color-private-brand-350-solid: rgb(167 64 51);
    --g-color-private-brand-300-solid: rgb(145 58 49);
    --g-color-private-brand-250-solid: rgb(122 52 46);
    --g-color-private-brand-200-solid: rgb(100 46 43);
    --g-color-private-brand-150-solid: rgb(78 41 40);
    --g-color-private-brand-100-solid: rgb(67 38 38);
    --g-color-private-brand-50-solid: rgb(56 35 37);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgb(255 255 255);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34 29 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.dc-subscribe__variants-action {
  color: var(--g-color-text-dark-primary);
}

.dc-subscribe__variants-action:hover {
    color: var(--g-color-text-dark-primary);
}

a.dc-breadcrumbs__text.dc-breadcrumbs__text_link {
  outline: none;
  color: var(--yc-color-text-link);
  text-decoration: none;
  cursor: pointer;
}

a.dc-breadcrumbs__text.dc-breadcrumbs__text_link:hover {
    color: var(--g-color-text-link-hover);
}

.dc-toc-item__text {
    font-family: var(--g-font-family-sans);
    font-size: var(--g-text-body-1-font-size);
    font-weight: var(--g-text-body-font-weight);
}

.dc-sidebar .dc-toc-item__text {
    font-size: var(--g-text-body-2-font-size);
}